/debug
.generated_files
fp-info-cache
*.kicad_pcb-bak
*.sch-bak
*.out
*.elf
Código/routine-avr-mcu.X/Makefile
Código/routine-avr-mcu.X/*.elf
Código/routine-avr-mcu.X/*.out
Código/routine-avr-mcu.X/*.xml
Código/routine-avr-mcu.X/nbproject/*
/hardwarev2.0/novo-hardware/novo-hardware-backups/*
*.kicad_pro
*.kicad_prl
*.log
*.xml
*.net
*.csv
*.cir

